body {
  background: #093D62;
  color: white;
}
.navbar-inner {
  color: white;
  border-bottom: solid 1px #aaaaaa;
  background-color: #12a1ca;
  background-image: -webkit-linear-gradient(top, #12a1ca, #11729f);
  background-image: -moz-linear-gradient(top, #12a1ca, #11729f);
  background-image: -o-linear-gradient(top, #12a1ca, #11729f);
  background-image: -ms-linear-gradient(top, #12a1ca, #11729f);
  background-image: linear-gradient(top, #12a1ca, #11729f);
}
.navbar-inner #logo {
  display: block;
  padding: 10px 20px 10px 5px;
  font-size: 20px;
}
.navbar-inner #userpanel,
.navbar-inner #sitepanel {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  padding: 10px;
  height: 63px;
}
.navbar-inner #userpanel div,
.navbar-inner #sitepanel div,
.navbar-inner #userpanel a,
.navbar-inner #sitepanel a {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.user-block .avatar.small {
  width: 38px;
  height: 38px;
}
.user-block .username,
.user-block .xp {
  float: left;
  clear: both;
}
.coins-block img {
  float: left;
  margin-top: 4px;
}
.coins-block .coins {
  margin-top: 5px;
  margin-left: 6px;
}
#games {
  margin-top: 63px;
}
#games .game {
  float: left;
  margin: 10px;
}
